:root { 
  --alto: #d9d9d9;
  --big-stone: #0f284059;
  --big-stone2: #0f2840;
  --black: #000000;
  --coconut: #fbfdff;
  --dove-gray: #746d6d;
  --gray: #a08f8f;
  --romance: #fffcfc;
  --sorbus: #fb700b;
  --teal-blue: #024959;
  --white: #ffffff;
 
  --font-size-l2: 16px;
  --font-size-xl: 20px;
  --font-size-xxxl: 32px;
 
  --font-family-roboto: "Roboto", Helvetica;
}
.roboto-bold-coconut-20px {
  color: var(--coconut);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.roboto-light-gray-20px {
  color: var(--gray);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 300;
}

.roboto-normal-dove-gray-16px {
  color: var(--dove-gray);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 400;
}

.roboto-bold-white-32px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.roboto-bold-romance-20px {
  color: var(--romance);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}
